<nav class="navbar navbar-expand-lg navbar-light fixed-top cyan-dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1 brand-text">Owuor Lawrence</span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-menu-item">
        <li class="nav-item">
          <a class="nav-link" routerLink="./home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT ME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">MY WORKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT ME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">MY BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
