<!-- Footer -->
<footer class="page-footer font-small blue cyan pt-4">
  <div class="container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Follow Me</h5>
          <ul class="social-network social-circle">
            <li>
              <a
                href="https://www.facebook.com/owuor.lawrence.7"
                class="icoFacebook"
                title="Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/lawrence-owuor-66b11b110/"
                class="icoLinkedin"
                title="Linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/OwuorLawrence"
                class="icoTwitter"
                title="Twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.youtube.com/c/lawrenceowuor"
                class="icoYoutube"
                title="Youtube"
                ><i class="fa fa-youtube"></i
              ></a>
            </li>
            <br /><br />
            <li>
              <a href="#" class="icoInstagram" title="Instagram"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoGoogle-plus" title="Google+"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoSkype" title="Skype"
                ><i class="fa fa-skype"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3" />

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Useful Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Trending Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center cyan-dark py-3">
    <p class="copyright">
      <strong
        >&copy;
        {{ anio }}
      </strong>
      Owuor Lawrence, All Rights Reserved.
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
