<div class="main-page text-left">
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <h2>About Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <td style="font-weight: bold">Full Name:</td>
            <td class="second-block">Owuor Owuor Lawrence</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Phone:</td>
            <td class="second-block">+254704028120</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Email:</td>
            <td class="second-block">lawrence.owuor@gmail.com</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Website:</td>
            <td class="second-block">www.owuorlawy.com</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Address:</td>
            <td class="second-block">
              61-40111, Kisumu Kenya
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <h2>Hello There!</h2>
        <p>
          There live the blind texts far from the countries Vokalia and
          Consonantia, there live the blind texts. Separated they live in
          bookmarksgrove there live the blind texts far from the countries.
        </p>
        <p>
          Far far away, behind the word mountains, Quos quia provident
          consequuntur culpa facere ratione maxime commodi voluptates id
          repellat velit eaque aspernatur expedita. Possimus itaque adipisci
          there live the blind texts from the countries Vokalia and Consonantia,
          there live the blind texts. Quos quia provident consequuntur culpa
          facere ratione maxime commodi voluptates id repellat velit eaque
          aspernatur expedita. Possimus itaque adipisci.
        </p>
      </div>
    </div>
  </div>
</div>
