<div class="main-page text-center">
  <br /><br /><br />
  <img
    src="../../assets/img/Lawrence.jpg"
    class="img-responsive img-circle"
    alt="..."
    height="200px"
  />
  <br />
  <h5><span>Owuor Lawrence</span></h5>
  <h4><span>Web Developer / Software Developer</span></h4>
  <br />
  <ul class="social-network social-circle">
    <li>
      <a
        href="https://www.facebook.com/owuor.lawrence.7"
        target="_blank"
        class="icoFacebook"
        title="Facebook"
        ><i class="fa fa-facebook"></i
      ></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/lawrence-owuor-66b11b110/"
        target="_blank"
        class="icoLinkedin"
        title="Linkedin"
        ><i class="fa fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a
        href="https://twitter.com/OwuorLawrence"
        target="_blank"
        class="icoTwitter"
        title="Twitter"
        ><i class="fa fa-twitter"></i
      ></a>
    </li>
    <li>
      <a
        href="http://www.youtube.com/c/lawrenceowuor"
        target="_blank"
        class="icoYoutube"
        title="Youtube"
        ><i class="fa fa-youtube"></i
      ></a>
    </li>

    <li>
      <a href="#" class="icoInstagram" title="Instagram"
        ><i class="fa fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="#" class="icoGoogle-plus" title="Google+"
        ><i class="fa fa-google-plus"></i
      ></a>
    </li>
    <li>
      <a href="#" target="_blank" class="icoSkype" title="Skype"
        ><i class="fa fa-skype"></i
      ></a>
    </li>
  </ul>
  <br /><br /><br />
</div>
