<br /><!-- Masthead -->
<header class="masthead bg-default text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image -->
    <img
      class="masthead-avatar mb-5 img-circle"
      src="../../assets/img/Lawrence.jpg"
      alt=""
    />

    <!-- Masthead Heading -->
    <h4 class="masthead-subheading text-capitalize mb-0">Owuor Lawrence</h4>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0">
      Web App Developer - Web Designer - Software Developer
    </p>
  </div>
</header>
